$contentBackground: #21232e;
$imageBackground: url(../img/m-h-night.jpg);
$selectbgcolor: #FF4E33;
$sectionBackground: #3b3f50;
$font: 'Hind', sans-serif;
$textColor: white;
$footerLogoColor: #c0c3ce;
$footerBackground: #3B3F50;
$linear-gradient: linear-gradient(45deg, #E2AB01, #CA8519 25%, #B8672C 50%, #A14344 75%, #922B54 100%);
$buttonColor: #e3ac00;
$underlineColor: #ff4e33;


