@media print {

body {
  padding: 0;
  background-color: #ffffff;
  font-size: 14px;  
}

.container {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.tm-main-content {
  padding: 0;
}

#home {
  margin: 0;
}

.tm-content-box {
  margin: 0;
}

.tm-content-box.tm-content-header {
  padding: 0;
  margin-top: 0;
}

.tm-content-box .tm-team-description-container {
  padding: 0;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

h2 {
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  color: lightskyblue;
  font-weight: 300;
}

.blocks .tm-section-title {
  margin-top: 20px;
}

.tm-content-box .padding-medium .tm-section-description{
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;     
}

ol {
  max-width: 35%;
  margin: 0 auto;
  padding: 0;
}

.heading 
.tm-content-box 
.padding-medium li::first-letter {
  font-size: 26px;
  color: lightskyblue;
  font-weight: 300; 
}

.padding-medium {
  padding: 0;
  margin: 0;   
}

.padding-medium li:nth-child(odd) {
  text-align: right;
}

.blocks .tm-team-description-container {
  max-width: 100%;
  text-align: center;
}

.blocks .tm-section-description {
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;   
}

.blocks .tm-section-description:nth-child(3) {
  text-align: center;
  font-style: italic;
  word-spacing: 8px;
  letter-spacing: 5px;
}

.carousel-inner .carousel-description {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px; 
}

.carousel {
  padding-top: 0;
  padding-bottom: 0;
}

li {
  list-style-type: none;
}

.tm-main-nav {
  display: none;
}

.tm-content-box ul {
  display: none;
}

.carousel-indicators, #ideas + section  {
  display: none;
}

.tm-team-img {
  display: none;
}

 #about {
  display: none;
}

section {
  margin-top: 40px;
  margin-bottom: 20px;
}
}

@media screen  {

.tm-main-nav .tm-nav-item:hover {
  background-color:  lightskyblue;
  color: #fff;
}

.tm-banner {

  background: linear-gradient(to right, lightskyblue, burlywood);
}

.tm-banner-inner {
  background-color: #fff;
 }

 .tm-banner-text {
  position: relative;
  text-shadow: 5px 5px 3px #333; 
  animation-name: anime;
  animation-duration: 2.5s;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: ease-in;
 }

 @keyframes anime {
  from {
    left: 0px;
  }

  to {
    left: 200px;
  }
}

.tm-content-box .tm-team-description-container {
  max-width: 330px;
  vertical-align: middle;
  padding-right: 6px;
  padding-top: 216px;
  float: left;
 }


.flex-item.tm-team-img {
  float: right;
 }

 .tm-section-title {
   text-align: center;
 }

 .tm-team-description-container .tm-section-description {
  text-indent: 1.5em;
  line-height: 29px;
 }

 .tm-box-bg-title:hover {
  background-color:  lightgrey;
  color: lightskyblue;

 }

 .heading h2 {
  text-align: center;
  color: lightskyblue;
 }
 
 .padding-medium ol {
  list-style-type: lower-alpha;
 }

 .text::after {
  content: "New";
  position: absolute;
  color: red;
  font-weight: bold;
  vertical-align: super;
  font-size: 8px;
  font-variant: small-caps;
 } 

 .padding-medium li:hover::before {
  content: ">";
  font-weight: bold;
}



.blocks .tm-section-title {
  text-align: left;

}

.blocks .tm-section-description:nth-child(3) {
  text-align: left;
  font-style: italic;
  word-spacing: 10px;
  letter-spacing: 5px;
}

.blocks .box-work p::first-letter {
  font-weight: bold;
 }

.blocks ul li {
  padding: 10px;
}

.box-work p {
  font-style: italic;
}

.blocks .gallery-container .box:nth-child(odd) {
  background-color: lightskyblue;
  color: white;  
 }

.carousel-content .tm-section-description  {
   text-indent: 25px;
   line-height: 30px;
 }

 #contact .tm-section-title {
  text-align: left;
 }

  #contact #contact_name,
  #contact #contact_email,
  #contact #contact_subject {
   border: none;
   border-bottom: 1px solid lightskyblue;
  }

#contact_name:focus,
#contact_email:focus, 
#contact_subject:focus {
  color: white;
  background-color: lightblue;
 }

#contact_message{
  background-image: url(../img/email-icon.png);
  background-repeat: no-repeat;
  background-position: right 10px bottom 10px;
  background-size: 30px;
  border-color: lightblue;
}

.btn {
  padding: 16px 26px;
}

  .submit-btn {
    background: white;
    border-color: lightblue;
    color: lightblue;
    float: right;
 
  }


  section, #home, .tm-main-nav {
  box-shadow: 0px 0px 11px rgba(61, 55, 61, 0.7);
 }

 section::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 45px 45px 0 0;
  border-color: lightblue transparent transparent transparent;
 }
 

 .blocks .tm-content-box{
   margin-top: 4px;
 }

 .tm-main-nav {
  margin: 0px 167px;
 }

}